include _head.pug
.container
    .row
      each val in donnees
            .col-sm-12
              .row
                .col-sm-8
                  h1
                      a(href="/articles/" + val._id)= val.titre
                |
                .col-sm-4
                  h3= val.date
              br
              |
              p
                = val.contenu.split(" ").slice(0,50).join(" ")
                if val.contenu.length >= 50
                  span ...
                  br
                  br
                  a(href="/articles/" + val._id) Lire la suite
                br
                br
              |
              hr
include _footer.pug
