include _head.pug
.container
    .row
      h1 Liste des articles
      br
      each val in donnees
            .col-sm-12
              .row
                .col-sm-2
                  p= val.date
                |
                .col-sm-7
                  a(href="/articles/" + val._id)= val.titre
                |
                .col-sm-3
                  //- button Modifier
                  form(action="/supprimer/" + val._id method='POST')
                      input(type='submit', value="Supprimer l'article")
              |
              hr
include _footer.pug
